# =============================================================
# .env  —  Environment Variables for FastAPI CRUD App
# =============================================================
# This file is loaded automatically by pydantic-settings.
# NEVER commit this file to Git — add it to .gitignore
# =============================================================

# --- PostgreSQL ---
DATABASE_URL=postgresql://postgres:12345@localhost:5432/crud_db

# --- App Settings ---
APP_NAME=FastAPI CRUD App
APP_ENV=development
APP_PORT=8000
DEBUG=True

# --- Security ---
SECRET_KEY=888791ec207292891263d899a64242371a58ac17b22b200754f21d61a9245b70